/* some basic colors */
base-dark-blue = #0B486B
base-cyan = #5A9999
base-grey = #ADADAD

body
    background-image: url("/assets/pixel_weave.png")
    font-family: 'PT Sans Narrow', sans-serif
    font-size: 20px

.main
    position: absolute
    top: 45%
    left: 15%
    
.name
    color: base-dark-blue
    font-family: 'Pacifico', cursive
    font-size: 50px

.byline
    color: base-grey

a
    color: base-cyan